

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.select{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#encode-btn:hover{
    border: 1px solid grey;
    color: whitesmoke;
    background-color: rgb(110, 110, 110);
}

#decode-btn:hover{
    border: 1px solid grey;
    color: whitesmoke;
    background-color: rgb(110, 110, 110);
}

.encode-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}

.decode-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}


input[type="file"] {
    display: none;
}

.buttons{
    margin: 20px;

}

#secret-label *{
    margin: 10px;
}

#pwd-label *{
    margin: 10px;
}

#submit-btn{
    margin: 10px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 10px;
}
#submit-btn:hover{
    margin: 10px;
    background-color: rgb(110, 110, 110);
    color: whitesmoke;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 10px;
}
  
.file-upload {
    border: 1px solid #ccc;
    background-color: rgb(224, 224, 224);
    display: inline-block;
    border-radius: 15px;
    padding: 6px 12px;
    cursor: pointer;
}

.file-upload:hover{
    color: whitesmoke;
    border: 1px solid grey;
    background-color: rgb(110, 110, 110);
    display: inline-block;
    border-radius: 15px;
    padding: 6px 12px;
    cursor: pointer;
}

.buttons * {
    margin: 0px 100px;
    padding: 10px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 15px;
}