.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.select{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#encode-btn:hover{
    border: 0px;
    color: #E3DFFF;
    background-color: #D64933;
}

#decode-btn:hover{
    border: 0px;
    color: #E3DFFF;
    background-color: #D64933;
}

.encode-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E3DFFF;

}

.upload-warning{
    color: #E3DFFF;
}




.decode-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E3DFFF;
}


input[type="file"] {
    display: none;
}

.buttons{
    margin: 20px;

}

#secret-label *{
    margin: 10px;
}

#pwd-label *{
    margin: 10px;
}

#submit-btn{
    margin: 10px;
    background-color: #BDBF09;
    border-radius: 15px;
    border: 0px;
    color: #481E14;
    padding: 10px;
}
#submit-btn:hover{
    margin: 10px;
    background-color: #D64933;
    color: #E3DFFF;
    border: 0px;
    border-radius: 15px;
    padding: 10px;
}
  
.file-upload {
    background-color: #BDBF09;
    display: inline-block;
    color: #481E14;
    border-radius: 15px;
    padding: 6px 12px;
    cursor: pointer;
}

.file-upload:hover{
    color: #E3DFFF;
    border: 0px;
    background-color: #D64933;
    display: inline-block;
    border-radius: 15px;
    padding: 6px 12px;
    cursor: pointer;
}

.buttons * {
    margin: 0px 100px;
    padding: 10px;
    background-color: #BDBF09;
    color: #481E14;
    border: 0px;
    border-radius: 15px;
}

